* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 192px 312px 203px auto;
    font-family: 'Press Start 2P', cursive;
    color: #DDD;
    background-color: #6e7c7c;
    justify-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

 .header {
     margin-top: 50px;
     grid-column: 1/2;
     grid-row: 1/2;
     display: grid;
     justify-content: center;
     align-content: center;
     background-color: #435560;
     font-size: 2.5em;
     font-weight: bold;
     width: 1000px;
     box-shadow: 7px 7px 0 0 #000;
     text-shadow: 3px 3px 0 #000;
     border-style: solid;
     border-width: 1px;
     border-color: #000;
     height: 140px;
 }

 .status {
     display: grid;
     margin-top: 50px;
     grid-row: 2/3;
     padding: 20px;
     background-color: #c8c6a7;
     width: 800px;
     border-style: solid;
     border-width: 1px;
     border-color: #000;
     box-shadow: 7px 7px 0 0 #000;
     font-size: 1.5em;
     color: #000;
     height: 220px;
 }

 .buttons {
     margin-top: 50px;
     grid-row: 3/4;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 800px;
     border-color: #FFF;
     font-weight: bold;
     font-size: 1.2em;
     color: #DDD;
     height: 160px;
 }

 img {
     max-height: 80px;
     padding-bottom: 12px;
 }

 .button {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #92967d;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    box-shadow: 7px 7px 0 0 #000;
    text-shadow: 3px 3px 0 #000;
    width: 200px;
    transition: all 0.7s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #DDD;
    text-decoration: none;
 }

 .score {
     grid-row: 4/5;
     display: flex;
     justify-content: space-between;
     text-align: center;
     margin-top: 75px;
     width: 800px;
     color: #000;
     font-weight: bold;
 }

 .player,
 .computer {
     font-size: 1.5em;
     text-shadow: 2px 2px 2px #666;
 }

 .grow {
     transition: all .085s ease-in-out;
}

.grow:hover {
    transform: scale(1.075);
    box-shadow: 10px 10px 0 0 #000;
}

.grow:active {
    transform: scale(.99);
    box-shadow: 7px 7px 0 0 #000;
}

a {
    text-decoration: none;
    color: #DDD;
}