* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    background-color: #6e7c7c;
}

.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 192px 312px 203px calc(100% - 707px);
    font-family: 'Press Start 2P', cursive;
    color: #DDD;
    background-color: #6e7c7c;
    justify-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

 .header {
     margin-top: 50px;
     grid-column: 1/2;
     grid-row: 1/2;
     display: grid;
     justify-content: center;
     align-content: center;
     background-color: #435560;
     font-size: 2.5em;
     font-weight: bold;
     width: 1000px;
     box-shadow: 7px 7px 0 0 #000;
     text-shadow: 3px 3px 0 #000;
     border-style: solid;
     border-width: 1px;
     border-color: #000;
     height: 140px;
 }

 .status {
     display: flex;
     flex-direction: column;
     margin-top: 50px;
     grid-row: 2/3;
     padding: 20px;
     background-color: #c8c6a7;
     width: 800px;
     border-style: solid;
     border-width: 1px;
     border-color: #000;
     box-shadow: 7px 7px 0 0 #000;
     font-size: 1.5em;
     color: #000;
     height: 220px;
 }

 .status-top {
     margin-top: 12px;
     text-align: center;
 }

 .status-middle,
 .status-bottom {
     margin-top: 60px;
     text-align: center;
 }

 button,
 button:active {
     background-color: #435560;
     height: 60px;
     width: 375px;
     color: #DDD;
     font-family: 'Press Start 2P', cursive;
     font-size: 1.2em;
     font-weight: bold;
     box-shadow: 7px 7px 0 0 #000;
     text-shadow: 3px 3px 0 #000;
     border-color: #000;
     border-style: solid;
     border-width: 1px;
     border-radius: 0px;
     text-decoration: none;
     outline: none;
 }

 .buttons {
     margin-top: 50px;
     grid-row: 3/4;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 800px;
     border-color: #FFF;
     font-weight: bold;
     font-size: 1.2em;
     color: #DDD;
     height: 160px;
 }

 img {
     max-height: 80px;
     padding-bottom: 12px;
 }

 .button {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #92967d;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    box-shadow: 7px 7px 0 0 #000;
    text-shadow: 3px 3px 0 #000;
    width: 200px;
    transition: all 0.7s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #DDD;
    text-decoration: none;
 }

 .score {
     grid-row: 4/5;
     display: flex;
     justify-content: space-between;
     text-align: center;
     margin-top: 75px;
     width: 800px;
     color: #000;
     font-weight: bold;
 }

 .player,
 .computer {
     font-size: 1.5em;
     text-shadow: 2px 2px 2px #666;
 }

 .grow {
     transition: all .085s ease-in-out;
}

.grow:hover {
    transform: scale(1.075);
    box-shadow: 10px 10px 0 0 #000;
}

.grow:active {
    transform: scale(1.035);
    box-shadow: 7px 7px 0 0 #000;
}

a {
    text-decoration: none;
    color: #DDD;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0) scaleX(3);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0) scaleX(1);
    }
  
    75% {
      transform: translate3d(10px, 0, 0) scaleX(0.98);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    animation-name: bounceInRight;
  }

  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(0, 3000px, 0) scaleY(5);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, -20px, 0) scaleY(0.9);
    }
  
    75% {
      transform: translate3d(0, 10px, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, -5px, 0) scaleY(0.985);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    animation-name: bounceInUp;
  }